body{
    background-color: #ffffcc;
}
buttonR {
    background-color: red;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.round {border-radius: 50%;}
buttonR.pressed {
    background-color: green;
}
.center{
    text-align: center;
}
tr.spaceUnder>td {
    padding-bottom: 5em;
}
